html {
    font-family: 'Montserrat Alternates', sans-serif;
}

body {
    margin: 0;
    background-color: #efefef;
}

/*                  Header
******************************************** */

header {
    background-color: #364552;
    color: white;
    padding: 3rem 2rem;
}

header h1 {
    font-size: 4rem;
    text-align: center;
}

/*                  Menu
******************************************** */
menu {
    display: flex;
    list-style: none;
    padding: 0;
    width: 400px;
  }

  li a {
    transition: color 0.3s ease;
    text-decoration: none;
    color: #fff;
    padding: 10px;
  }

  li a:hover {
    color: cornflowerblue;
  }

/*                 Section
******************************************** */

.container {
    width: 400px;
    margin: 0 auto;
}

section article {
    transition: all 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);    
}

section article h2, section article p {
    margin: 1rem;
}

/*                 Form
******************************************** */

.form-register {
    width: 400px;
    margin: 1rem auto;
    padding: 30px;
    box-sizing: border-box;    
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

.form-register h2 {    
    text-align: center;
}

.controls {
    width: 98%;
    height: 30px;
    background-color: #fff;
    padding: auto;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #3645526e;
    font-size: 15px;
}

.form-register a {
    text-decoration: none;
}

.form-register a:hover {
    text-decoration: underline;
}

.form-register p {
    height: 20px;
    text-align: center;
    font-size: 14px;
}

.btn {
    width: 100%;
    border: none;
    padding: 12px;
    margin: 16px 0;    
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #364552;
    color: #fff;
    border-radius: 5px;
}

.btn:active {
    background-color: #364552e7;
}

.btn:hover {
    transition: all 0.3s ease;
    cursor: pointer;
}

/*                 Footer
******************************************** */

footer {
    background-color: #222;
    padding: 3rem;
    color: #fff;
}

footer section {
    float: right;
}

footer p {
    margin: 0;
}

footer a {
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: cornflowerblue;
}